/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* footer */

.footer{
  background: #161021;
  padding: 50px 0px 10px 0px;
}
.footer h3{
  margin: 15px 0px;
  color: #c8c3d2;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul li{
  padding: 4px 0px;
}
.footer ul li a{
  text-decoration: none;
  display: block;
  color: #8b7ca7;
  font-size: 13px;
  transition: 0.4s;
}
.footer ul li a:hover{
  color: #c8c3d2;
}
.footer-img{
  margin-top: 25px;
}
.footer-links{
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 1px solid #271d38;
}
.footer-links a{
  text-decoration: none;
  color: #adadad;
  display: inline-block;
  font-size: 26px;
  margin-right: 10px;
  transition: 0.4s;
}
.footer-links a:hover{
  color: #8b7ca7;
}
.footer .copy-right{
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #271d38;
  padding-top: 15px;
}
.footer .copy-right p{
  font-size: 12px;
  color: #5a4f6f;
  line-height: 19px;
}









